:root {
  --white: #ffffff;
  --gray: #d9d9d9;
  --black: #000000;
  --primary-color: #612e23;
  --secondary-color: #b08779;
  --dark-secondary-color: #895a4e;
  --tertiary-color: #ffe1d0;
  --light-tertiary-color: #fdebe0;
  --text-color: #343d48;

  --font-family: 'DM Sans', sans-serif;
}
